@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Schoolbell&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{    
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

img {
    height: 50px;
    padding-right: 100px;
}

@keyframes neon{
    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to{
        filter: drop-shadow(0 0 50px var(--cor-neon));
    }
}

img{
    animation: neon 3s alternate infinite ease-in-out;
}


.img1{
    --cor-neon: #9a031e;
}
.img2{
    --cor-neon: #005279;
}
.img3{
    --cor-neon: #36ff04;
}
.img4{
    --cor-neon: #ff6804;
}
.img5{
    --cor-neon: #f5c731;
}
.img6{
    --cor-neon: #9f1bd3;
}

.pisca{
    padding-top: 150px;
    display: flex;
    justify-content: center;
}

.pisca1{    
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.container{
    
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;    
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

/* Seção de apresentação */

#presentation{
    background-image: url(./img/st-background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#text{
    font-size: 70px;
}

#text1{
    padding-left: 140px;
    font-size: 20px;
}

#presentation h1{
    display: block;
    width: fit-content;
    font-family: 'IM Fell English SC', serif;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: .8s;
}

#presentation h1:nth-child(2){
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation h1 span{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    border-radius: 5px;
}

#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#presentation::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    background-color:black;
    opacity: 0.5;
    z-index: -1;
}

#presentation:hover
{
    -webkit-transform: rotateZ(-180deg);
    -ms-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    background-image: url('./img/bg2.jpg');
}

/* Keyframes */

@keyframes text_reveal{
    100%{
        color: rgb(245, 226, 226);
    }
}

@keyframes text_reveal_box{
    50%{
        width:100%;
        left:0;
    }
    100%{
        width: 0;
        left:100%
    }
}

main{
    background-image: url(./img/bg8.jpg);

}

.escritaText{
    display: flex;
    justify-content: center;   
}

.escrita{   
    font-family: 'Mansalva', cursive; 
    font-size: 60px; 
    height: 150px;
    padding-right: 88px;
}
